.card {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 250px;
}

.boton {
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.boton:hover {
    background-color: darkblue;
}
